<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<div class="content-main">
    <div class="content-main-left">
        <h1 class="main-title">Profile</h1>
        <p class="main-subtitle">
            With 5 years of studies in software development and 3 years in video game creation, I use my skills to bring environments to life, aiming to make the player's experience more immersive than ever.
        </p>
    </div>
    <div class="content-main-right">
        <div class="big-circle"></div>
        <img src="assets/malvy.png" alt="malvy-picture" class="picture-malvy">
        <div class="small-circle"></div>
    </div>
</div>
<!-- J'ai trouvé un stage de fin d'étude mais je me laisse l'opportunité de mettre d'autres annonces dans ce cadre -->
<div class="contact-me-container">
    <div class="contact-me">
        <p class="main-subtitle">
            Je suis actuellement en <span>recherche d'un stage</span> de fin d'études. Disponible sous peu pour designer
            et
            développer vos solutions.
        </p>
        <div class="button-container">
            <a href="mailto:delaban.malvy@gmail.com">
                <app-learn-more-button text="Me contacter" [textWhite]=true></app-learn-more-button>
            </a>
        </div>
    </div>
</div>
<!-- fin du bloc d'annonce -->
<div class="more-icon-container">
    <i-feather name="chevron-down" class="more-icon" (click)="goToExperiences(experiencesAnchor)"></i-feather>
</div>
<div class="experiences-container" #experiencesAnchor>
    <h2>Expériences</h2>
    <div class="experiences-list">
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">Zelin</h3>
                    <div class="experience-dates">2021 - 2022</div>
                </div>
                <div class="experience-text">
                    Full-stack developer, designer, and assistant project manager. Returning to this Toulouse-based startup after more than a year away, I resumed supporting the team by continuing to develop their web platform, this time as a freelancer.
In addition to development, I contributed by recruiting, onboarding, and training new team members. I also assisted in finding external contractors to outsource certain features.
                </div>
            </div>
            <img src="assets/zelin.png" alt="logo-zelin">
        </div>
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">Autodicar</h3>
                    <div class="experience-dates">2019 - 2022</div>
                </div>
                <div class="experience-text">
                    Co-founder, "Design Executive Officer," and front-end developer. This 7-person project aimed to create a web app that empowers users to maintain their motor vehicles by providing parts, tools, and tutorials. The project was incubated at "Le Starter de la Mêlée." My work primarily involved using Adobe XD and Blender.
                </div>
            </div>
            <img src="assets/autodicar.png" alt="logo-autodicar">
        </div>
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">Zelin</h3>
                    <div class="experience-dates">2019 - 2020</div>
                </div>
                <div class="experience-text">
                    Full-stack developer and designer during part-time and full-time internships spanning over 10 months. This Toulouse-based startup supports industrial businesses with a suite of digital tools focused on complex system simulations in fluid mechanics, electromagnetism, and more. It was within this team that I notably mastered Angular.
                </div>
            </div>
            <img src="assets/zelin.png" alt="logo-zelin">
        </div>
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">IGE + XAO</h3>
                    <div class="experience-dates">2018</div>
                </div>
                <div class="experience-text">
                    Front-end developer. A former multinational specializing in software development for Computer-Aided Design (CAD) and Product Lifecycle Management (PLM). My role was to address internal employee needs by improving the company’s internal system for team, budget, and data management. The open-source project I worked on, developed in PHP, was ProjeQtOr.
                </div>
            </div>
            <img src="assets/ige.png" alt="logo-ige">
        </div>
    </div>
</div>
<div class="formations-container">
    <h2>Formations</h2>
    <div class="formations-content">
        <img src="assets/university.png" alt="3d-university">
        <div class="formations-list">
            <div class="formation">
                <div class="formation-content-header">
                    <h3 class="formation-header">ESMA Video Game School, Toulouse</h3>
                </div>
                <div class="formation-text">
                    Since September 2022, Enrolled in the curriculum of this Toulouse-based video game school, "ESMA"
                </div>
            </div>
            <div class="formation">
                <div class="formation-content-header">
                    <h3 class="formation-header">Epitech IT</h3>
                    <div class="formation-dates">2017 - 2022</div>
                </div>
                <div class="formation-text">
                    "The School of Computer Expertise." At Epitech, I trained extensively in software development, starting with C and later mastering C++. However, it was through various internships and personal projects that I gained expertise in the technologies I use today. The main skills I acquired at Epitech include teamwork and project management, within groups of 2 to 6 people, for projects lasting 1 to 3 months.
                </div>
            </div>
            <div class="formation">
                <div class="formation-content-header">
                    <h3 class="formation-header">High School Diploma</h3>
                    <div class="formation-dates">2017</div>
                </div>
                <div class="formation-text">
                    STI2D track in Information and Digital Systems, with honors. My first experience with software development involved a year-long PHP project creating a web-based RFID student card management system.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="misc-container">
    <h2>Divers</h2>
    <div class="misc-content">
        <div class="misc-list">
            <div class="misc-element">
                <div class="misc-element-header">
                    <h3>Logo Design</h3>
                    <div class="misc-element-dates">2020 - 2021</div>
                </div>
                <div class="misc-element-text">
                    Conceptualized and designed logos for local entrepreneurs.
                </div>
            </div>
            <div class="misc-element">
                <div class="misc-element-header">
                    <h3>BDE <span class="small-bde">(BDE)</span> Epitech Toulouse Student Union</h3>
                    <div class="misc-element-dates">2019 - 2020</div>
                </div>
                <div class="misc-element-text">
                    Graphic designer and communications officer for the association. Created digital display banners for advertising purposes.
                </div>
            </div>
            <div class="misc-element">
                <div class="misc-element-header">
                    <h3>Hackathon with ENA</h3>
                    <div class="misc-element-dates">2019</div>
                </div>
                <div class="misc-element-text">
                    Collaborated with ENA students to develop modern solutions for national or local administrative issues.
                </div>
            </div>
            <div class="misc-element">
                <div class="misc-element-header">
                    <h3>Google Hash Code</h3>
                    <div class="misc-element-dates">2018</div>
                </div>
                <div class="misc-element-text">
                    Learned Python basics and developed an AI-based solution to optimize road traffic flow through connected route calculations.
                </div>
            </div>
        </div>
        <img src="assets/robot.png" alt="3D-astronaut">
    </div>
</div>
<div class="resume">
    <h2>You can view my resume below.</h2>
    <div class="resume-buttons">
        <a href="assets/CV.pdf" target="_blank">
            <app-learn-more-button text="Ouvrir" [textPurple]=true></app-learn-more-button>
        </a>
        <a href="assets/CV.pdf" download class="download-button">
            <app-learn-more-button text="Télécharger" [textPurple]=true></app-learn-more-button>
        </a>
    </div>
</div>
