<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<div class="content-main">
    <div class="content-main-left">
        <h1 class="main-title">Profil</h1>
        <p class="main-subtitle">
            Formée comme développeuse, c'est en réalité à la limite du design que j'exerce. Penser et réfléchir une
            solution, la maquetter et lui donner vie en la développant, c'est ce qui me passionne.
        </p>
    </div>
    <div class="content-main-right">
        <div class="big-circle"></div>
        <img src="assets/malvy.png" alt="malvy-picture" class="picture-malvy">
        <div class="small-circle"></div>
    </div>
</div>
<!-- J'ai trouvé un stage de fin d'étude mais je me laisse l'opportunité de mettre d'autres annonces dans ce cadre -->
<div class="contact-me-container">
    <div class="contact-me">
        <p class="main-subtitle">
            Je suis actuellement en <span>recherche d'un stage</span> de fin d'études. Disponible sous peu pour designer
            et
            développer vos solutions.
        </p>
        <div class="button-container">
            <a href="mailto:delaban.malvy@gmail.com">
                <app-learn-more-button text="Me contacter" [textWhite]=true></app-learn-more-button>
            </a>
        </div>
    </div>
</div>
<!-- fin du bloc d'annonce -->
<div class="more-icon-container">
    <i-feather name="chevron-down" class="more-icon" (click)="goToExperiences(experiencesAnchor)"></i-feather>
</div>
<div class="experiences-container" #experiencesAnchor>
    <h2>Expériences</h2>
    <div class="experiences-list">
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">Zelin</h3>
                    <div class="experience-dates">2021 - 2022</div>
                </div>
                <div class="experience-text">
                    Développeuse full-stack, designeuse et assistante chef de projet.
                    De retour dans cette startup toulousaine après plus d'un an d'absence, je reviens soutenir l'équipe
                    en continuant le développement de leur plateforme web mais cette fois en tant qu'indépendante.<br>
                    En parallèle du développement, j'aide à trouver, à intégrer et à former de nouveaux membres dans notre équipe
                    et j'aide également à trouver des prestataires externes pour sous-traiter certaines fonctionnalités.
                </div>
            </div>
            <img src="assets/zelin.png" alt="logo-zelin">
        </div>
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">Autodicar</h3>
                    <div class="experience-dates">2019 - 2022</div>
                </div>
                <div class="experience-text">
                    Co-fondatrice, "Design Executive Officer" et développeuse front. Un projet de 7 personnes visant à
                    créer une web-app qui permet à tous d'entretenir eux-mêmes son véhicule motorisé en fournissant
                    pièces, outils et tutoriels. Le projet a été porté dans le pré-incubateur "le Starter de la Mêlée".
                    J'y utilise principalement Adobe xd et Blender.
                </div>
            </div>
            <img src="assets/autodicar.png" alt="logo-autodicar">
        </div>
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">Zelin</h3>
                    <div class="experience-dates">2019 - 2020</div>
                </div>
                <div class="experience-text">
                    Développeuse full-stack et designeuse lors d'un stage à temps partiel et d'un stage temps plein sur
                    plus de 10 mois.
                    Une startup toulousaine qui vient appuyer les industriels avec une série d'outils numériques portés
                    entre autres sur la simulation de systèmes complexes en mécanique des fluides, électromagnétisme et
                    plus encore.
                    C'est au sein de cette équipe que j'ai, notamment, appris à maîtriser Angular.
                </div>
            </div>
            <img src="assets/zelin.png" alt="logo-zelin">
        </div>
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">IGE + XAO</h3>
                    <div class="experience-dates">2018</div>
                </div>
                <div class="experience-text">
                    Développeuse front.
                    Une ancienne multinationale excellant dans le développement logiciel
                    pour du Computer Aided Design et du Product Lifecycle Management.
                    Dans ce cadre, je venais répondre aux besoins internes des employés en
                    améliorant le système interne de gestion d'équipe, de budget et de
                    données.
                    Le projet open-source sur lequel je travaillais en PHP était ProjeQtOr.
                </div>
            </div>
            <img src="assets/ige.png" alt="logo-ige">
        </div>
    </div>
</div>
<div class="formations-container">
    <h2>Formations</h2>
    <div class="formations-content">
        <img src="assets/university.png" alt="3d-university">
        <div class="formations-list">
            <div class="formation">
                <div class="formation-content-header">
                    <h3 class="formation-header">ETPA Jeux vidéos Toulouse</h3>
                </div>
                <div class="formation-text">
                    Depuis Septembre 2022, je rejoins le cursus de l'école toulousaine orientée jeux
                    vidéos, " ETPA ".
                </div>
            </div>
            <div class="formation">
                <div class="formation-content-header">
                    <h3 class="formation-header">Epitech IT</h3>
                    <div class="formation-dates">2017 - 2022</div>
                </div>
                <div class="formation-text">
                    « L’école de l’expertise informatique ».
                    C'est dans cette école que je me suis formée à tout ce
                    qui touche au développement logiciel en apprenant à
                    manipuler le C puis le C++. Cependant, c'est lors de
                    multiples stages et de travail personnel que j'en suis
                    venue à dompter les technologies que je maîtrise
                    aujourd'hui.
                    Les principales compétences que j'ai pu acquérir à
                    Epitech sont le travail d'équipe et la gestion de projets
                    au sein de groupes de 2 à 6 personnes pour des projets
                    de 1 à 3 mois.
                </div>
            </div>
            <div class="formation">
                <div class="formation-content-header">
                    <h3 class="formation-header">Baccalauréat</h3>
                    <div class="formation-dates">2017</div>
                </div>
                <div class="formation-text">
                    Filière STI2D en Système d’Information et Numérique,
                    mention bien.
                    Premier contact avec le développement logiciel
                    appliqué sur un projet d'un an en PHP consistant en
                    un gestionnaire web de cartes étudiantes RFID.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="misc-container">
    <h2>Divers</h2>
    <div class="misc-content">
        <div class="misc-list">
            <div class="misc-element">
                <div class="misc-element-header">
                    <h3>Création de logos</h3>
                    <div class="misc-element-dates">2020 - 2021</div>
                </div>
                <div class="misc-element-text">
                    Réflexion et design pour les logos d'auto-entreprises locales
                </div>
            </div>
            <div class="misc-element">
                <div class="misc-element-header">
                    <h3>BDE <span class="small-bde">(Bureau Des Élèves)</span> Epitech Toulouse</h3>
                    <div class="misc-element-dates">2019 - 2020</div>
                </div>
                <div class="misc-element-text">
                    Graphiste et chargée de communication de l'association.
                    Création de bannières publicitaires sur un affichage numérique.
                </div>
            </div>
            <div class="misc-element">
                <div class="misc-element-header">
                    <h3>Hackathon avec l'ENA</h3>
                    <div class="misc-element-dates">2019</div>
                </div>
                <div class="misc-element-text">
                    Réflexions avec des énarques sur la création de solutions modernes à des problèmes administratifs
                    nationaux ou locaux.
                </div>
            </div>
            <div class="misc-element">
                <div class="misc-element-header">
                    <h3>Google Hash Code</h3>
                    <div class="misc-element-dates">2018</div>
                </div>
                <div class="misc-element-text">
                    Acquisition des bases du python et création d'une solution en IA sur la fluidification du trafic
                    routier via un calcul d'itinéraire connecté.
                </div>
            </div>
        </div>
        <img src="assets/robot.png" alt="3D-astronaut">
    </div>
</div>
<div class="resume">
    <h2>Vous pouvez consulter mon CV ci-dessous</h2>
    <div class="resume-buttons">
        <a href="assets/CV.pdf" target="_blank">
            <app-learn-more-button text="Ouvrir" [textPurple]=true></app-learn-more-button>
        </a>
        <a href="assets/CV.pdf" download class="download-button">
            <app-learn-more-button text="Télécharger" [textPurple]=true></app-learn-more-button>
        </a>
    </div>
</div>