<div class="content-main">
    <div class="content-main-left">
        <h1 class="main-title">Profil</h1>
        <p class="main-subtitle">
            Formée comme développeuse, c'est en réalité à la limite du design que j'exerce. Penser et réfléchir une
            solution, la maquetter et lui donner vie en la développant, c'est ce que je fais.
        </p>
    </div>
    <div class="content-main-right">
        <div class="big-circle"></div>
        <img src="assets/malvy.png" alt="malvy-picture" class="picture-malvy">
        <div class="small-circle"></div>
    </div>
</div>
<div class="contact-me-container">
    <div class="contact-me">
        <p class="main-subtitle">
            Je suis actuellement en <span>recherche d'un stage</span> de fin d'étude. Disponible sous peu pour designer
            et
            développer vos solutions.
        </p>
        <div class="button-container">
            <a href="mailto:delaban.malvy@gmail.com">
                <app-learn-more-button [isContactMe]="true"></app-learn-more-button>
            </a>
        </div>
    </div>
</div>
<div class="experiences-container">
    <h2>Experiences</h2>
    <div class="experiences-list">
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">Autodicar</h3>
                    <div class="experience-dates">Depuis 2019</div>
                </div>
                <div class="experience-text">
                    Co-fondatrice, "Design Executive Officer" et développeuse front. Un projet de 6 personnes visant à
                    créer une web-app qui permet à tous d'entretenir leur véhiculesmotorisés eux-mêmes en fournissant
                    pièces, outils et tutoriels.Le projet a été porté dans le pré-incubateur "le Starter de la Mêlée"J'y
                    utilise principalement Adobe xd et Blender.
                </div>
            </div>
            <img src="assets/autodicar.png">
        </div>
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">Zelin</h3>
                    <div class="experience-dates">2019 - 2020</div>
                </div>
                <div class="experience-text">
                    Développeuse full-stack et designeuse.
                    Une startup toulousaine qui vient appuyer les industriels avec une série d'outils numériques portés
                    entre autres sur la simulation de systèmes complexes en mécanique des fluides, electro-magnétisme et
                    plus encore.
                    C'est là-bas que j'ai appris à maîtriser Angular entre autres.
                </div>
            </div>
            <img src="assets/zelin.png">
        </div>
        <div class="experience">
            <div class="experience-content">
                <div class="experience-content-header">
                    <h3 class="experience-header">IGE + XAO</h3>
                    <div class="experience-dates">2018</div>
                </div>
                <div class="experience-text">
                    Développeuse front.
                    Une ancienne multinationale excellant dans le développement logiciel
                    pour du Computer Aided Design et du Product Lifecycle Management.
                    Dans ce cadre, je venais résoudre les besoins internes des employés en
                    améliorant le système interne de gestion d'équipe, de budget et de
                    données.
                    Le projet open-source sur lequel je travaillait en PHP était ProjeQtOr.
                </div>
            </div>
            <img src="assets/ige.png">
        </div>
    </div>
</div>
<div class="formations">
</div>
<div class="misc">
</div>
<div class="resume">
</div>