<div class="container">
    <div class="contact">
        <h4 class="header">Malvy DELABAN</h4>
        <p>delaban.malvy@gmail.com</p>
        <p>31200 Toulouse, France</p>
        <a href="https://www.linkedin.com/in/malvy-delaban-a19108159/">
            <i-feather name="linkedin" class="feather-icon-style-thin in"></i-feather>
        </a>
    </div>
    <div class="navigation">
        <h4 class="header">Le site</h4>
        <a routerLink="jeux-videos"><p>Jeux vidéos</p></a>
        <a routerLink="a-propos"><p>A propos</p></a>
        <a routerLink="projets"><p>Projets</p></a>
    </div>
</div>