@import "../../../styles.scss";

.content-games {
  position: relative;
  display: flex;
  flex-direction: column;
  @media (orientation: portrait) {
    margin-top: 10vh;
  }
  .content-games-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content-games-title {
      color: $base-color;
      font-weight: 700;
      font-size: 3.5vw;
      margin: 0;
      @media (orientation: portrait) {
        font-size: 3.5vh;
      }
    }
    .content-games-subtitle {
      width: 80%;
      color: $text-about-page;
      font-size: 1.6vw;
      margin: 0;
      text-align: center;
      @media (orientation: portrait) {
        font-size: 1.8vh;
      }
    }
  }
}

.content-games-list-picture {
  overflow: visible;
  height: 25vw;
  width: 25vw !important;
  object-fit: cover;
  border-radius: 5vw;
  margin-bottom: 20vh;
  margin-top: 5vw;
  box-shadow: 0 0 3vw 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  @media (orientation: portrait) {
    height: 25vh;
    width: 25vh !important;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
}
.content-games-list-picture:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.content-main-game-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15vh;
  @media (orientation: portrait) {
    margin-bottom: 10vh;
  }
  .content-main-game {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (orientation: portrait) {
      flex-direction: column-reverse;
    }
    .content-main-game-left {
      color: $text-about-page;
      display: flex;
      flex-direction: column;
      align-items: center;
      .last-game {
        font-weight: 700;
        font-size: 3vw;
        margin: 0;
        @media (orientation: portrait) {
          font-size: 2vh;
        }
      }
      .last-game-title {
        font-weight: 700;
        font-size: 3.5vw;
        margin: 0;
        @media (orientation: portrait) {
          font-size: 4vh;
        }
      }
      .last-game-subtitle {
        font-size: 1.6vw;
        margin: 0;
        margin-bottom: 3vh;
        @media (orientation: portrait) {
          font-size: 2vh;
        }
      }
    }
    .main-game-picture {
      object-fit: cover;
      height: 30vw;
      width: 30vw;
      border-radius: 5vw;
      box-shadow: 0 0 5vw 0 rgba(0, 0, 0, 0.6);
      @media (orientation: portrait) {
        height: 80vw;
        width: 80vw;
        border-radius: 5vh;
        margin-top: 3vh;
      }
    }
  }
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.15);
    padding: 2vh 3vh;
    border-radius: 10vh;
    .search-bar-icon-container {
      margin-right: 2vh;
      color: $base-color;
      .search-bar-icon {
        width: 2.5vh;
        height: auto;
      }
    }
    input {
      background: none;
      border: none;
      font-family: "Montserrat";
      color: $base-color;
      font-weight: 500;
      font-size: 2.2vh;
    }
    input:focus {
      background: none;
      border: none;
      outline: none;
    }
  }
}

.games-searched-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  :any-link {
    color: $text-about-page;
    text-decoration: none;
  }
  :any-link:hover {
    color: $base-white;
    text-decoration: none;
  }
  .games-searched {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
    border-radius: 50vw;
    padding: 1.5vw;
    box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    cursor: pointer;
    @media only screen and (max-width: 1400px) and (orientation: landscape) {
      width: 90%;
      border-radius: 50vw;
      box-shadow: 0 0 4vw 0 rgba(0, 0, 0, 0.15);
      padding: 3vh;
    }
    @media (orientation: portrait) {
      width: 80%;
      border-radius: 50vw;
      box-shadow: 0 0 4vw 0 rgba(0, 0, 0, 0.15);
      padding: 3vh;
    }
    img {
      object-fit: cover;
      height: 10vw;
      width: 10vw;
      border-radius: 50vw;
      @media (orientation: portrait) {
        height: 25vw;
        width: 25vw;
        border-radius: 50vw;
      }
      @media only screen and (max-width: 1400px) and (orientation: landscape) {
        height: 25vw;
        width: 25vw;
        border-radius: 50vw;
      }
    }
    .games-searched-text {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h3 {
        font-weight: 700;
        font-size: 1.5vw;
        margin: 0;
        @media (orientation: portrait) {
          font-size: 4vw;
        }
        @media only screen and (max-width: 1400px) and (orientation: landscape) {
          font-size: 5vh;
        }
      }
      .games-searched-subtitle {
        font-weight: 700;
        font-size: 1vw;
        margin: 0;
        @media (orientation: portrait) {
          font-size: 2vw;
        }
        @media only screen and (max-width: 1400px) and (orientation: landscape) {
          font-size: 3vh;
        }
      }
    }
  }
  .games-searched:hover {
    background-color: $base-color;
    color: $base-white;
    transform: rotate(1deg);
    transition: 0.3s;
    box-shadow: none;
  }
}

.content-cta {
  position: relative;
  z-index: 1;
  background-color: $base-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .content-cta-top {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (orientation: portrait) {
      width: 70vw;
      flex-direction: column-reverse;
    }
    .content-cta-left {
      width: 60%;
      margin-bottom: 3%;
      @media (orientation: portrait) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      @media only screen and (max-width: 1400px) and (orientation: landscape) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      a {
        margin-top: 3vh;
      }
      .main-title {
        color: $base-white;
        font-size: 5vw;
        margin: 0;
        @media (orientation: portrait) {
          font-size: 5vh;
        }
      }
      .main-subtitle {
        text-align: justify;
        text-justify: inter-word;
        font-weight: 500;
        font-size: 2vw;
        color: $base-white;
        @media (orientation: portrait) {
          text-align: center;
          font-size: 2vh;
        }
      }
    }
    .content-cta-right {
      width: 35%;
      @media (orientation: portrait) {
        height: 30vh;
        width: auto;
      }
    }
  }
}

.svg-shape {
  position: relative;
  margin: 0;
  fill: $base-color;
  vertical-align: bottom;
}

.content-info {
  display: flex;
  width: 100%;
  @media (orientation: portrait) {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content-info-picture {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    @media (orientation: portrait) {
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .content-info-paragraphs {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10vh;
    @media (orientation: portrait) {
      width: 80%;
      margin-top: 5vh;
    }
    .content-info-main-text {
      font-weight: 600;
      font-size: 1.2vw;
      @media (orientation: portrait) {
        font-size: 1.6vh;
      }
    }
    .content-info-all-paragraph {
      width: 80%;
      text-align: center;
      @media (orientation: portrait) {
        width: 90%;
      }
      h2 {
        font-weight: 700;
        font-size: 2.2vw;
        margin: 0;
        @media (orientation: portrait) {
          font-size: 3vh;
        }
      }
    }
    .content-info-paragraph-first > h2 {
      color: $text-red;
    }
    .content-info-paragraph-second > h2 {
      color: $text-dark-orange;
    }
    .content-info-paragraph-third > h2 {
      color: $text-orange;
    }
  }
}
