<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<div class="container">
    <h1>Mes projets personnels</h1>
    <div class="procedural">
        <div class="text">
            <h2>Terrain procédural</h2>
            <p>
                Une map en voxel 3D qui se génere aléatoirement.
                Elle est affichée en 3D via la librairie Three.js et la hauteur de chaque tuile dépend d'un bruit de
                Perlin.
                La couleur de chaque tuile est définie par la hauteur de celle-ci.
            </p>
            <a href="https://malvy-delaban.github.io/procedural/" target="_blank">
                <app-learn-more-button text="Visiter l'application" [textWhite]=true></app-learn-more-button>
            </a>
        </div>
        <img src="assets/procedural.png" alt="procedural map screen">
    </div>
</div>