@import "../../../styles.scss";

.text-white {
    background-color: $base-color;
    color: $base-white;
}

.text-base-color {
    background-color: $base-white;
    color: $base-color;
}

.ligther-footer-background {
    background-color: $base-white;
    color: $ligther-footer-background;
    font-weight: 600 !important;
}

.button {
    cursor: pointer;
    font-size: 3vh;
    padding: 2.8vh 5vh;
    border-radius: 6vh;
    border-style: none;
    font-weight: 500;
    @media (orientation: portrait) {
        padding: 2vh 5vh;
        font-size: 2vh;
        border-radius: 6vh;
    }
}