<div class="content-main-background">
    <div class="content-main">
        <div class="content-main-left">
            <h1 class="content-main-title">{{ game.title }}</h1>
            <h2 class="content-main-subtitle">{{ game.subtitle }}</h2>
            <div class="content-main-left-numbers">
                <div class="content-main-note">
                    <div class="content-main-info-text">Ma note</div>
                    <div class="content-main-note-number">{{ game.note }}</div>
                    <div class="content-main-note-max">/ 100</div>
                </div>
                <div class="content-main-HLTB">
                    <div class="content-main-HLTB">
                        <div class="content-main-info-text">Durée de vie</div>
                        <div class="content-main-HLTB-number">33.5H</div>
                        <div class="content-main-info-text">Histoire</div>
                        <div class="content-main-HLTB-number">42.5H</div>
                        <div class="content-main-info-text">Histoire et extras</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-main-right">
            <img *ngIf=game.id class="content-main-game-picture" [src]="game.img_path">
            <div class="favourite-game"></div>
        </div>
    </div>
</div>