<link href='https://fonts.googleapis.com/css?family=Black Ops One' rel='stylesheet'>

<div class="content-main-background">
    <div class="content-main" id="main">
        <div class="content-main-left">
            <h1 class="content-main-title">{{ game.title }}</h1>
            <h2 class="content-main-subtitle">{{ game.subtitle }}</h2>
            <div class="content-main-left-numbers">
                <div class="content-main-note">
                    <div class="content-main-info-text content-main-header-note">Ma note</div>
                    <div class="content-main-note-number-max">
                        <div class="content-main-note-number">{{ ratingToDisplay }}</div>
                        <div class="content-main-note-max">/ 100</div>
                    </div>
                </div>
                <div>
                    <div class="content-main-info-text content-main-header-HLTB">
                        <div>Durée de vie
                            <div class="tooltip">
                                <i-feather name="info" class="info-hltb"></i-feather>
                                <span class="tooltiptext">Durée moyenne de temps de jeu</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-main-HLTB">
                        <div class="content-main-HLTB-story">
                            <div class="content-main-HLTB-number">{{ game.hltb_main }}H</div>
                            <div class="content-main-info-text">Histoire</div>
                        </div>
                        <div class="content-main-HLTB-extra">
                            <div class="content-main-HLTB-number">{{ game.hltb_extra }}H</div>
                            <div class="content-main-info-text">Histoire et extras</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-main-right">
            <img *ngIf=game.id class="content-main-game-picture" [src]="game.img_path">
            <div class="favourite-game"></div>
        </div>
    </div>
</div>
<div class="content-summary">
    <div class="summary">
        <h2 class="header-platforms headers-info">Plateform(s)</h2>
        <div class="platforms-text">
            <span *ngFor="let platform of game.platforms; let i = index">
                <span>{{ platform }}</span>
                <br *ngIf="i != game.platforms.length - 1">
            </span>
        </div>
        <div class="separator"></div>
        <h2 class="header-synopsis headers-info">Synopsis
            <div class="tooltip-synopsis">
                <i-feather name="info" class="info-synopsis"></i-feather>
                <span class="tooltiptext-synopsis">Résumé par senscritique.com</span>
            </div>
        </h2>
        <p>{{ game.synopsis }}</p>
    </div>
    <div class="summary">
        <h2 class="header-dev headers-info">Developer(s)</h2>
        <p>{{ game.developers }}</p>
        <div class="separator"></div>
        <h2 class="header-summary headers-info">Le jeu et son gameplay</h2>
        <p>{{ game.summary }}</p>
    </div>
</div>
<div class="main-positive">
    <h2 class="header-positive-negative-main">Le gros + du jeu</h2>
    <p class="text-positive-negative-main">{{ game.positive_main }}</p>
</div>
<div class="positive-container">
    <div class="positive-negative-list">
        <h2 class="header-positive-list">Les autres +</h2>
        <ul class="text-positive-negative-list">
            <li *ngFor="let line of game.positive_list">{{ line }}</li>
        </ul>
    </div>
    <img class="positive-negative-img" src="./assets/EmeraldBlock.png">
</div>
<div class="main-negative">
    <h2 class="header-positive-negative-main">Le gros - du jeu</h2>
    <p class="text-positive-negative-main">{{ game.negative_main }}</p>
</div>
<div class="negative-container">
    <img class="positive-negative-img" src="./assets/RedstoneBlock.png">
    <div class="positive-negative-list">
        <h2 class="header-negative-list">Les autres -</h2>
        <ul class="text-positive-negative-list">
            <li *ngFor="let line of game.negative_list">{{ line }}</li>
        </ul>
    </div>
</div>
<div class="notes">
    <h2 class="notes-header">À noter</h2>
    <div class="notes-text">
        <p *ngFor="let note of game.notes">{{ note }}</p>
        <p>Article posté le {{ game.date_added }} par Malvy DELABAN.</p>
    </div>
</div>